@import url("../styles/global.css");

main {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-between;

    img {
        width: 53%;
    }   

    aside {
        width: 47%;

        display: flex;
        font-display: column;
        align-items: center;
        justify-content: center;
    }

    .formContainer {
        border: 1px solid green;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .formContainer h2 {
        font-size: 20px;
    }

    form {
        margin-top: 24px;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
    }



    .topo {
        display: flex;
        align-items: center;
        gap: 10px;
    } 
    .topo > img {
        width: 40px;
        height: 40px;   
    }
    .topo > h1 {
        font-size: 16px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        display: flex;
        gap: 16px;
    }
}